/*This stylesheet contains some custom class rather than Bootstrap*/


html, body {
    height:100%;
    margin:0;
    padding:0
}

input.form-control {
    margin-bottom: 5px;
}

body {
    -webkit-background-size: cover;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.75),
                    rgba(0, 0, 0, 0.75)
            ),
            url("../assets/bg.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p, h1, h2, h3 {
    color: #FFFFFF;
}

.as-body-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}

.no-pad {
    padding-top: 0;
}

a, label {
    color: #FF1493;
}

.list-group-item {
    color: #FF1493;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.5);
}

.as-header {
    font-size: 50px;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-default .navbar-link {
    color: #FFFFFF;
}
.navbar-text a, .navbar-brand a {
    color: #FFFFFF;
}

.list-group-item {
    background-color: rgba(0, 0, 0, 0.3);
}

.as-toolbar {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.7;
}

.as-list-header {
    color: aqua;
    font-weight: bold;
}

.as-list-header a{
    color: aqua;
    font-weight: bold;
}

.as-left-pad {
    padding-left: 5px;
}

.as-bottom-pad {
    padding-bottom: 70px;
}

#map {
    margin-top: 120px;
    height: 500px;
    overflow: hidden;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

select, input{
    color: black;
}
.as-brand-image {
    margin-top: 0;
    width: 150px;
    height: 140px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.actions {
    margin-top: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    bottom: 30px;
    padding: 10px;
    right: 30px;
    z-index: 2;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.actions label {
    display: block;
    margin: 2px 0 5px 10px;
    text-align: left;
}
.actions input, .actions select {
    width: 85%;
}

.as-footer {
    text-align: center;
    float: initial;
    margin: 15px 15px 15px 15px;
}
.button {
    /*background-color: #d7e5f5;
   /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
    background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
    background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
    background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
    background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
    background-image: linear-gradient(top, #d7e5f5, #cbe0f5);*/
    border-top: 1px solid #abbbcc;
    border-left: 1px solid #a7b6c7;
    border-bottom: 1px solid #a1afbf;
    border-right: 1px solid #a7b6c7;
    line-height: 1;
    margin-bottom: 5px;
    padding: 6px 0 7px 0;
    text-align: center;
    color: white;
    /*-webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 1px 0 0 white;
    -moz-box-shadow: inset 0 1px 0 0 white;
    box-shadow: inset 0 1px 0 0 white;
    color: #1a3e66;
    font: normal 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    margin-bottom: 5px;
    padding: 6px 0 7px 0;
    text-align: center;
    !*text-shadow: 0 1px 1px #fff;*!
    width: 150px;*/
}
.button:hover {
    background-color: #ccd9e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
    background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
    background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
    border-top: 1px solid #a1afbf;
    border-left: 1px solid #9caaba;
    border-bottom: 1px solid #96a3b3;
    border-right: 1px solid #9caaba;
    -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
    -moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
    box-shadow: inset 0 1px 0 0 #f2f2f2;
    color: #163659;
    cursor: pointer;
}
.button:active {
    border: 1px solid #8c98a7;
    -webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
    -moz-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
    box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
}
